.projects-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.projects-list {
  list-style-type: none;
  padding: 0;
}

.project-item {
  margin-bottom: 30px;
}

.project-title {
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.3s ease;
  display: block;
  margin-bottom: 10px;
}

.project-description {
  margin-top: 5px;
  margin-bottom: 15px;  
  transition: color 0.3s ease;
}

.project-image-container {
  width: 100%;
  max-width: 600px;  
  margin: 15px 0;
}

.project-image {
  width: 70%;
  height: auto;
}

.light-mode .project-description {
  color: #666;
}

.dark-mode .project-description {
  color: #b0b0b0;
}